<h1>welcome to<span class="glyphicon glyphicon-book"></span>
<strong>Bookers</strong>  !!</h1>


<div class="container-fluid">
	<div class="skip">
        <div class="theTarget">
            <div style="background-image: url(<%= asset_path('test1.jpg',) %>)"><span>Hello</span></div>
            <div style="background-image: url(<%= asset_path('test2.jpg')%> )"></div>
            <div style="background-image: url(<%= asset_path('test3.jpg')%> )"></div>
            <div style="background-image: url(<%= asset_path('test4.jpg')%> )"></div>
            <div style="background-image: url(<%= asset_path('test5.jpg')%> )"></div>
		</div> 
    </div>
</div>